body {
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vw
}
#root {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}




