[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
gunicorn = "*"
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-jwt-extended = "*"
flask-login = "*"
bcrypt = "*"
python-dotenv = "*"
itsdangerous = "*"
six = "*"
psycopg2 = "*"
jinja2 = "*"
markupsafe = "*"
werkzeug = "*"
requests = "*"

[requires]
python_version = "3.8"
flask_version = "1.1.2"
