#pl2-main-page {
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  /* flex-direction: column; */
  background-color: black;
  height: 100vh;
  width: 100vw;
}
#pl2-left-column {
  width: 10%;
  height: 100vh;
  background-color: rgb(109, 109, 109);
  /* border: 1px solid green; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#pl2-search{
  height: 30px;
  width: 85%;
  background-color: transparent;
  font-size: 20px;
  color: rgb(192, 192, 192);
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  margin: 0px 0px 10px 0px;
  text-align: center;
}
#pl2-search__input{
  width: 100%;
  margin: 0px;
  height: 30px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: rgb(192, 192, 192);
  
}
#pl2-search__input::placeholder {
  font-size: 18px;
  color: rgb(192, 192, 192);
  position: relative;
  top: -1px;
}

.select-artist,
.select-album,
.select-song {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 0px;
}
.select-artist span,
.select-album span,
.select-song span {
  font-size: 18px;
  color: rgb(192, 192, 192);
  margin: 0px 0px 0px 10px;
}

.selected-artist,
.selected-album,
.selected-song {
  background-color: rgb(210, 210, 210);
}
.selected-artist span,
.selected-album span,
.selected-song  span{
  color: rgb(70, 70, 70);
  background-color: rgb(210, 210, 210);
}
.selectIcon {
  height: 20px;
  width: 20px;
  margin: 0px 0px 0px 10px;
  opacity: .7;
}
#left-playlist {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 0px 0px;
}
#left-playlist span {
  font-size: 15px;
  color: rgb(192, 192, 192);
}
/* #pl2-main-page__title {
  color: rgb(218, 163, 255);
  font-size: 4vw;
  font-family: 'Source Code Pro', monospace;
  font-family: 'Goldman', cursive;
  font-family: 'Audiowide', cursive;
  font-family: 'Syncopate', sans-serif;
  letter-spacing: 5px;
  color: #000000;
  margin: 20px;
  text-shadow: 2px 2px 0 rgb(239, 142, 248), 2px -2px 0 #25ff99, -2px 2px 0 #56caf8, -2px -2px 0 #56caf8, 2px 0px 0 #f7b867, 0px 2px 0 #dd4338, -2px 0px 0 #0c6fe9, 0px -2px 0 #f010e5;
} */
#pl2-audio-tracklist-c {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  margin: 0px 0px 0px 0px;
  /* box-shadow: 4px 4px 0 rgb(239, 142, 248), 4px -4px 0 #25ff99, -4px 4px 0 #56caf8, -4px -4px 0 #56caf8, 4px 0px 0 #f7b867, 0px 4px 0 #dd4338, -4px 0px 0 #0c6fe9, 0px -4px 0 #f010e5; */
}
#pl2-audio {
  width: 100%;
  /* height: 100px; */
  /* border: 1px solid rgb(0, 225, 255); */
  /* border-radius: 20px; */
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* background: rgb(175,0,255); */
  /* background: linear-gradient(45deg, rgba(175,0,255,1) 0%, rgba(255,0,215,1) 28%, rgba(0,212,255,1) 100%); */
  background-color: rgb(92, 92, 92);
  /* box-shadow: 4px 4px 0 rgb(239, 142, 248), 4px -4px 0 #25ff99, -4px 4px 0 #56caf8, -4px -4px 0 #56caf8, 4px 0px 0 #f7b867, 0px 4px 0 #dd4338, -4px 0px 0 #0c6fe9, 0px -4px 0 #f010e5; */
}
.pl2-audio__top__inner{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid pink; */
}
#pl2-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pl2-audio__volume {
  width: 25%;
  height: 120px;
  border-radius: 999px;
  border: 1px solid rgb(0, 225, 255);
  background-color: rgb(0, 0, 0, .7);
  text-shadow: 2px 2px 0 rgb(239, 142, 248), 2px -2px 0 #25ff99, -2px 2px 0 #56caf8, -2px -2px 0 #56caf8, 2px 0px 0 #f7b867, 0px 2px 0 #dd4338, -2px 0px 0 #0c6fe9, 0px -2px 0 #f010e5;
  transition: background-color .5s;
}
.pl2-stop {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0, .7);
  transition: background-color .5s;
}
.pl2-stop:hover,
#audio__volume:hover {
  background-color: rgb(0, 0, 0, .4);
  
}
/* #pl2-audio__top {
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
} */
#uploading-new-image-c {
  height: 30px;
  width: 20px;
  margin: 10px 0px 10px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#uploading-new-image-icon {
  height: 20px;
  width: 20px;
  filter: invert() brightness(72%);
  pointer-events: none;
}
#uploading-new-image-c__input {
  width: 20px;
  height: 30px;
  opacity: 0;
  position: absolute;
}
#pl2-audio__top__song-name {
  font-size: 12px;
  font-family: 'Electrolize', sans-serif;
  font-weight: 900;
  color: rgb(202, 202, 202);
  margin: 2px 0px 0px 0px;
}
#pl2-audio__top__song-artist {
  font-size: 10px;
  font-family: 'Electrolize', sans-serif;
  font-weight: 900;
  color: rgb(182, 181, 181);
  margin: 0px 0px 2px 0px;
}
#pl2-audio__top {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
.pl2-controls {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
}
.pl2-fast-forward{
  width: 20px;
  opacity: .7;
  transition: opacity .5s;
  margin: 0px 5px 0px 0px;

}
.pl2-fast-forward:hover{
  opacity: .4;
}
.pl2-play {
  width: 25px;
  opacity: .7;
  transition: opacity .5s;
  margin: 0px 5px 0px 0px;
}
.pl2-play:hover {
  opacity: .4;
}
.pl2-rewind{
  width: 20px;
  opacity: .7;
  transform: rotate(180deg);
  transition: opacity .5s;
  margin: 0px 5px 0px 0px;
}
.pl2-rewind:hover{
  opacity: .4;
}
#pl2-audio__bottom {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  /* border: 1px solid yellow; */
}
#pl2-track-display {
  display: flex;
}
.pl2-timer {
  width: 100%;
  font-size: 12px;
  font-family: 'Electrolize', sans-serif;
  font-weight: 900;
  color: rgb(202, 202, 202);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: -105px;
  pointer-events: none;
}

.track-art {
  width: 50px;
  height: 50px;
  background-color: rgba(136, 136, 136);
  margin: 0px 5px 0px 0px;
  object-fit: cover;
  /* border: 1px solid rgb(202, 202, 202); */
  /* background-image: url("../images/formless-music-icon.png"); */
  /* background-image: image("../images/formless-music-icon.png"); */
}
/* #pl2-audio__bottom-c {
  width: 300px;
  height: 25px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(0, 195, 255);
} */
/* #pl2-timer-loop-random-c {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
} */
.pl2-random {
  height: 20px;
  width: 20px;
  opacity: .6;
  margin: 0px 5px 0px 0px;
  
}
.pl2-loop {
  height: 20px;
  width: 20px;
  opacity: .6;
}
.pl2-random:hover ,
.pl2-loop:hover {
  opacity: .7;
}
.pl2-looping,
.pl2-random-play {
  filter: invert();
  opacity: .6;
}
#pl2-audio__bottom {
  
  width: 300px;
  position: relative;
  /* pointer-events: none; */
}
.pl2-audio__bottom__playhead {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
  height: 20px;
  border: 1px solid rgb(196, 196, 196);
  margin: 0px 0px 5px 0px;
  border-radius: 10px;
  overflow: hidden;
  /* pointer-events: none; */

}
.pl2-audio__bottom__playhead__left {
  height: 100%;
  width: 0;
  background-color: rgba(0, 195, 255, 0.4);
  background: rgb(23,0,143);
  background: linear-gradient(45deg, rgba(23,0,143,1) 0%, rgba(0,59,133,1) 28%, rgba(0,99,139,1) 66%, rgba(0,125,113,1) 100%);
  /* background: rgb(0,34,207); */
  /* background: linear-gradient(45deg, rgba(0,34,207,1) 0%, rgba(0,77,170,1) 19%, rgba(0,168,201,1) 60%, rgba(0,186,179,1) 100%); */
  /* pointer-events: none; */
}
.pl2-audio__bottom__playhead__time-remaining {
  /* color: rgb(202, 202, 202); */
  font-size: 12px;
  color: rgb(202, 202, 202);
  position: absolute;
  /* top: -0px; */
  right: 10px;
  font-family: 'Electrolize', sans-serif;
  pointer-events: none;
}
#pl2-playhead-input {
  width: 300px;
  position: absolute;
  opacity: 0;
}

/* ----------slider------------ */
.control-2
{
  position: relative;
  width: 55px;
  height: 200px;
  display: flex;
  justify-content: center;
  

  /* margin-top: 70px; */
  /* margin-left: 146px; */
  transform: rotate(90deg);
  /* border: 1px solid green; */
  pointer-events: none;
  margin: 0px 10px;

}
.pl2-slider-input {
  transform: rotate(-90deg);
  position: absolute;
  top: 91px;
  left: -25px;
  width: 100px;
  opacity: .0;
  pointer-events: all;
}

div.control-2 span.eq
{
  position: relative;
  top: 50px;
  left: 22px;
  /* width: 40px; */
  width: 20px;
  /* height: 200px; */
  height: 100px;
  display: inline-block;
  border-radius: 100px;
  border: 1px solid rgba(255,255,255,0.05);
  /* border: 1px solid rgba(255,255,255); */
  margin-right: 45px;
  box-shadow: inset 0 0 65px rgba(0,0,0,0.4),
              inset 0 10px 15px rgba(0,0,0,0.3),
              inset 0 -10px 15px rgba(0,0,0,0.3),
              0 0 5px rgba(0,0,0,0.7);
  
    
}

div.control-2 span.eq:before,
div.control-2 span.eq:after
{
  position: absolute;
  content: '';
  /* width: 10px; */
  width: 3px;
  display: inline-block;
  
  /* top: 50%; */
  /* margin-top: -80px; */
  /* left: 50%; */
  left: 35%;
  top: 10%;
  margin-left: -3px;
  border-radius: 100px;
}

div.control-2 span.eq:before
{
  position: relative;
  left: 3px;
  margin: 0px 0px 0px 0px;
  z-index: 8;
  /* height: 160px; */
  height: 80px;
  /* border: 1px solid black; */
  box-shadow: inset 0 0 15px rgba(0,0,0,0.7),
              inset 0 7px 10px -2px rgba(0,0,0,0.5),
              inset 0 -7px 10px -2px rgba(0,0,0,0.5);
}

/* div.control-2 span.eq:after
{
  position: relative;
  top: 10px;
  left: 0px;
  z-index: 9;
 
  height: 70px;
  background: #05d4f4;
  margin: 0px 0px 0px 0px;

  box-shadow: inset 0 0 25px rgba(255,255,255,0.5),
              0 0 10px #05d4f4;
} */
.pl2-volume-level {
  position: absolute;
  /* top: 70px; */
  left: 26px;
  bottom: 60px;
  z-index: 9;
  height: 37px;
  width: 2px;
  background: #05d4f4;
  margin: 0px 0px 0px 0px;

  box-shadow: inset 0 0 25px rgba(255,255,255,0.5),
              0 0 10px #05d4f4;
  /* border: 1px solid yellow; */
}

span.eq span.eq-level
{
  position: absolute;
  
  /* width: 50px; */
  width: 20px;
  /* height: 75px; */
  height: 30px;
  display: inline-block;
  background: #373542;
  left: -5px;
  bottom: 37px;
  /* margin-left: -5px; */
  margin-top: 0px;
  border-radius: 100px;
  overflow: hidden;
  z-index: 10;

  box-shadow: inset 0 5px 5px -3px rgba(255,255,255,0.4),
              inset 0 -8px 8px -3px rgba(0,0,0,0.4),
              inset 0 0 55px rgba(0,0,0,0.6),
              -6px 0 5px -5px rgba(0,0,0,0.4),
              7px 0 5px -3px rgba(0,0,0,0.4),
              0 5px 5px -4px rgba(0,0,0,0.7),
              0 -8px 7px -4px rgba(0,0,0,0.7);
}

span.eq span.eq-level:before,
span.eq span.eq-level:after
{
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  display: inline-block;
}

span.eq span.eq-level:before
{
  top: 50%;
  margin-top: -2px;
  background: rgba(0,0,0,0.4);
}

span.eq span.eq-level:after
{
  top: 50%;
  background: rgba(255,255,255,0.1);
  box-shadow: 0 1px 3px rgba(255,255,255,0.01);
}

span.eq span.eq-level img
{
  position: absolute;
  opacity: 0.2;
}

div.control-2 span.eq-1:after
{
  height: 50px;
  margin-top: 30px;
}

div.control-2 span.eq-1 span.eq-level
{
  margin-top: 80px;
}

/* div.control-2 span.eq-2:after
{
  height: 0px;
  margin-top: 0px;
} */

div.control-2 span.eq-2 span.eq-level
{
  margin-top: 125px;
}

div.control-2 span.eq-3:after
{
  height: 120px;
  margin-top: -40px;
}

div.control-2 span.eq-3 span.eq-level
{
  margin-top: 35px;
}

.text-1
{
  position: absolute;
  width: 100%;
  display: inline-block;
  top: 0;
  margin: -15px 0px 0px -5px;
  text-align: center;
  color: rgba(255,255,255,0.4);
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  text-shadow: 0 0 10px rgba(0,0,0,1);
  transform: rotate(-90deg);
}

.text-2
{
  position: absolute;
  width: 100%;
  display: inline-block;
  bottom: 0;
  margin: 0px 0px 0px -5px;
  margin-bottom: -48px;
  
  text-align: center;
  color: rgba(255,255,255,0.4);
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  text-shadow: 0 0 10px rgba(0,0,0,1);
  transform: rotate(-90deg);
}


/* ------------Track-List------------ */
#pl2-playlist-border {
  width: 100%;
  height: 100%;
  position: relative;
  /* border-radius: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all .5s;
  background-color: rgba(55, 86, 117, 0.493);
  margin: 0px 0px 0px 0px;

}
/* #playlist-border:hover {
  border: 1px solid cyan;
  box-shadow: inset 2px 2px 10px rgba(125, 45, 255, 0.8), inset -2px -2px 10px rgba(125, 45, 255, 0.8), 1px 1px 10px rgba(237, 45, 255, 0.8), -1px -1px 10px rgba(237, 45, 255, 0.8), 1px 1px 20px rgba(241, 145, 250, 0.5), -1px -1px 20px rgba(241, 145, 250, 0.5);
} */
#pl2-playlist-c {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  /* border: 1px solid rgb(111, 0, 255); */
  /* border-radius: 10px; */
  /* box-shadow: 1px 1px 5px rgba(237, 45, 255, 0.6), -1px -1px 5px rgba(237, 45, 255, 0.6), 1px 1px 10px rgba(241, 145, 250, 0.5), -1px -1px 10px rgba(241, 145, 250, 0.5);
  box-shadow: 1px 1px 5px rgba(221, 182, 224, 0.6), -1px -1px 5px rgba(221, 182, 224, 0.6), 1px 1px 10px rgba(221, 182, 224, 0.6), -1px -1px 10px rgba(221, 182, 224, 0.6); */
  position: absolute;
  overflow: hidden;
}
#pl2-playlist-c__top-c {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid grey;
  /* position: relative; */
  /* background-color: rgb(136, 202, 233); */
  background-color: rgb(48, 48, 48);

}
#pl2-playlist-c__top-c__rating {
  border-right: 1px solid grey;
  margin: 0px;
  width: calc(10% - 1px);
  /* min-width: 100px; */
  height: 30px;

}

#pl2-playlist-c__top-c__name {
  position: relative;
  border-right: 1px solid grey;
  width: calc(32% - 1px);
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pl2-uploading-track-c {
  width: 30%;
  border: 1px dashed lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 5px;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Electrolize', sans-serif;
}
#pl2-uploading-track-c__span{
  position: absolute;
  color: rgb(202, 202, 202);
}
#pl2-uploading-track {
  opacity: 0;
  cursor: pointer;
}
#pl2-playlist-name-c {
  width: 100%;
  pointer-events: none;
  position: relative;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pl2-playlist-name-c h2 {
  pointer-events: all;
}
.pl2-tracklist-edit-pen{
  height: 23px;
  margin: 0px 0px 0px -3px;
  filter: invert(100%);
}
.pl2-tracklist-edit-pen{
  cursor: pointer;
}
.pl2-pen--on{
  filter: invert(0%);
  background-color: rgb(239, 142, 248);
  padding: 3px;
  border-radius: 5px;
}
#pl2-playlist-c__top-c__artist-name {
  border-right: 1px solid grey;
  width: calc(15% - 1px);
  height: 30px;
}
#pl2-playlist-c__top-c__album-name {
  border-right: 1px solid grey;
  width: calc(15% - 1px);
  height: 30px;
}
#pl2-playlist-c__top-c__artist-duration {
  border-right: 1px solid grey; 
  width: calc(8% - 1px);
  height: 30px;
}
#pl2-playlist-c__top-c__genre-name {
  border-right: 1px solid grey; 
  width: calc(10% - 1px);
  height: 30px;
}
#pl2-playlist-c__top-c__date {
  width: 10%;
  height: 30px;
}
#pl2-playlist-c__top-c__rating h2,
#pl2-playlist-name-c h2,
#pl2-playlist-c__top-c__artist-name h2,
#pl2-playlist-c__top-c__album-name h2,
#pl2-playlist-c__top-c__genre-name h2,
#pl2-playlist-c__top-c__artist-duration h2,
#pl2-playlist-c__top-c__date h2 {
  height: 30px;
  font-size: 20px;
  color: rgb(202, 202, 202);
  display: flex;
  justify-content: center;
  margin: 0px;
  
  /* font-family: 'Source Code Pro', monospace; */
  font-family: 'Goldman', cursive;
  /* font-family: 'Audiowide', cursive; */
  /* font-family: 'Syncopate', sans-serif; */
  position: relative;
  top: 4px;
}
li {
  margin: 0px;
}

#pl2-track-ul {
  width: 100%;
  max-height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.pl2-track-ul__li {
  min-height: 30px;
  min-width: 100%;
  margin: 0px 0px 0px 0px;
  color: rgb(192, 192, 192);
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Electrolize', sans-serif;  
}
.pl2-track-pointer-block {
  min-height: 30px;
  min-width: 100%;
  position: absolute;

}
.zindex-5 {
  /* pointer-events: none; */
  z-index: -5;
}
.pl2-track-ul__li__rating {
  height: 30px;
  width: calc(10% - 1px);
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  white-space: nowrap;
  overflow-x: scroll;
  border-right: 1px solid rgb(161, 161, 161);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#pl2-track-genre-input {
  background-color: transparent;
  width: 100%;
  height: 100%;
  font-family: 'Electrolize', sans-serif;
  font-size: 15px;
  color: rgb(192, 192, 192);
  border: none;
  outline: none;
  margin: 0px 0px 0px 0px;
  text-align: center;
  padding: 0px;
  pointer-events: all;
  
}
#pl2-track-genre-input::placeholder {
  color: rgb(192, 192, 192);
  text-align: center;
}
.pl2-track-artist-rating-span {
  margin-left: 0px !important;
  font-size: 15px;
  position: relative;
  top: -1px;
  

}

.pl2-track-ul__li__name {
  height: 30px;
  width: calc(32% - 1px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  /* overflow: hidden; */
  white-space: nowrap;
  overflow-x: scroll;
  border-right: 1px solid rgb(161, 161, 161);
}
.pl2-track-ul__li__artist {
  height: 30px;
  width: calc(15% - 1px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  overflow-x: scroll;
  border-right: 1px solid rgb(161, 161, 161);
}
.pl2-track-ul__li__album {
  height: 30px;
  width: calc(15% - 1px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  overflow-x: scroll;
  border-right: 1px solid rgb(161, 161, 161);
}
.pl2-tracklist-form {
  width: 100%;
}
.pl2-track-input {
  background-color: transparent;
  width: 100%;
  height: 100%;
  font-family: 'Electrolize', sans-serif;
  font-size: 15px;
  color: rgb(192, 192, 192);
  border: none;
  outline: none;
  margin: 0px 0px 0px 5px;

}
.pl2-track-artist-name-span,
.pl2-track-artist-span,
 .pl2-track-genre-span{
  width: calc(100% -7px); 
  height: 100%;
  font-family: 'Electrolize', sans-serif;
  font-size: 15px;
  color: rgb(192, 192, 192);
  text-align: left;
  display: flex;
  align-items: center;
  position: absolute;
  left: 2px;
}

.pl2-track-input::placeholder {
  color: rgb(192, 192, 192);
}
.pl2-track-artist-name-submit {
  width: 0px;
  height: 0px;
  position: absolute;
  right: 1000px;
  opacity: 0;
}
.pl2-deleteX {
  height: 20px;
  margin: 0px 5px 0px 0px;
  filter:  brightness(250%)
}
.pl2-track-ul__li__duration {
  height: 30px;
  width: calc(8% - 1px);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  overflow: hidden;
  white-space: nowrap;
  overflow-x: scroll;
  border-right: 1px solid rgb(161, 161, 161);
}
.pl2-track-ul__li__genre {
  height: 30px;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  overflow: hidden;
  white-space: nowrap;
  overflow-x: scroll;
  border-right: 1px solid rgb(161, 161, 161);
  position: relative;
}
.pl2-track-ul__li__date {
  height: 30px;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  overflow: hidden;
  white-space: nowrap;
  overflow-x: scroll;
  position: relative;
}
.pl2-track-ul__li div span {
  margin-left: 5px;
}
.pl2-track-ul__li__name:hover{
  cursor: pointer;
}
.pl2-dark{
  background-color: rgb(68, 68, 68);
}
.pl2-light{
  background-color: rgb(92, 92, 92);
}
.next-track-info {
  opacity: 0;
  width: 0px;
  height: 0px;
  pointer-events: none;
}
/* --------UploadTrackPl2--------------------- */
#Pl2-uploading-track-c {
  width: 30%;
  border: 1px dashed lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 5px;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Electrolize', sans-serif;
  position: absolute;
}
#Pl2-uploading-track-c__span{
  position: absolute;
  color: rgb(202, 202, 202);
}
#Pl2-uploading-track {
  opacity: 0;
  cursor: pointer;
}
/* --------------------------------- */