#instructions-modal-background{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.7);
}
#instructions-modal {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 80vh;
  width: 80vw;
  background-color: rgb(68, 68, 68);
  border-radius: 20px;
  margin: 10vh 10vw 10vh 10vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#instructions-modal__scroll {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#instructions-modal__scroll h1 {
  color: rgb(182, 181, 181);
  /* font-family: 'Source Code Pro', monospace; */
  /* font-family: 'Goldman', cursive; */
  font-family: 'Audiowide', cursive;
  /* font-family: 'Syncopate', sans-serif; */
}
.instruction-c {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.instruction-c p{
  width: 300px;
  margin: 15px 20px 15px 20px;
  color: rgb(182, 181, 181);
  font-family: 'Electrolize', sans-serif;

}
.instruction-gif {
  height: 300px;
  width: auto;
}
.instruction-gif-2 {
  height: 300px;
  width: auto;
  position: relative;
  top: -50px;
}
.left-playlist-add-2 {
    width: 15px;
    height: 15px;
    opacity: .8;
    transition: all .3s;
    border-radius: 100%;
    border: 1px solid rgb(176, 176, 176);
    background-color: rgb(176, 176, 176);
    position: absolute;
    top: -32px;
    left:  -78px;
}
#left-playlist-add-2-p {
  position: relative;
  /* top: -65px;
  left:  81px; */
}
.instruction-gif-2 {
  position: relative;
  top: -60px;
}
#instruction-developer-name {
  color: rgb(182, 181, 181);
  font-family: 'Source Code Pro', monospace;
  font-family: 'Goldman', cursive;
  /* font-family: 'Audiowide', cursive; */
  /* font-family: 'Syncopate', sans-serif; */
  /* font-family: 'Electrolize', sans-serif; */
  margin: 0px 10px 0px 0px;
}

