
.login-instructions {
  color: rgb(123, 200, 219);
  font-family: 'Electrolize', sans-serif;
  transition: all .3s;
  cursor: pointer;
  padding: 1px 5px;
  border-radius: 6px;
  border: none;
  background-color: rgb(69, 69, 69, .7);
  position: fixed;
  top: 20px;
  right: 20px;

}
.login-instructions:hover {
  color: rgb(162, 148, 255);
  background-color: rgb(69, 69, 69, .7);
  border: 1px solid rgb(205, 205, 205);
}
#login-c{
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/mixmeld-background3.jpg");
  background-size: cover;
}
#login-c h1{
  font-size: 4vw;
  font-family: 'Syncopate', sans-serif;
  letter-spacing: 5px;
  color: rgb(0, 0, 0);
  margin: 20px;
  text-shadow: 2px 2px 0 rgb(239, 142, 248), 2px -2px 0 #25ff99, -2px 2px 0 #56caf8, -2px -2px 0 #56caf8, 2px 0px 0 #f7b867, 0px 2px 0 #dd4338, -2px 0px 0 #0c6fe9, 0px -2px 0 #f010e5;
}
#login-c__login-form{
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 100px;
  left: 50px;
}
#login-c__login-form label{
  color: lightgray;
  font-size: 20px;
  font-family: 'Syncopate', sans-serif;
  text-shadow: 0 0 10px rgba(0,0,0,1);
  white-space: nowrap;

}
.login-input-1 {
  left: 70px;
  top: 40px;
  width: 250px;
  height: 56px;
  margin: 15px;
  color: gray;
  font-weight: 700;
  font-size: 18px;
  outline: none;
  border-radius: 20px;
  text-align: center;
  
}
.login-input-2 {
  left: 70px;
  top: 40px;
  width: 250px;
  height: 56px;
  margin: 15px;
  color: gray;
  font-weight: 700;
  font-size: 17px;
  outline: none;
  border-radius: 20px;
  text-align: center;
  
}
.login-button {
  color: lightgray;
  background-color: grey;
  font-size: 20px;
  font-family: 'Audiowide', cursive;
  height: 30px;
  min-width: auto;
  padding: 0px 15px 0px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  margin: 20px 0px 0px 0px;
  box-sizing:border-box;
  cursor: pointer;
  white-space: nowrap;
}

.login-button:hover {
  color: rgb(162, 148, 255);
  background-color: rgb(69, 69, 69, .7);
  border: 1px solid rgb(205, 205, 205);
  
}
.login-footer__creditBox {
  position: fixed;
  top: 485px;
  left: 90px;
  width: 235px;
  height: 40px;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login-footer__creditBox span {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: rgb(255, 255, 255);
  position: relative;
  top: -2px;
}
.login-footer__creditBox--links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-footer__creditBox--links svg {
  width: 20px;
  height: 20px;
  margin: 10px;
  fill: white;
  cursor: pointer;
}
.login-footer__creditBox--links img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
