@media screen and (max-width: 750px) {
  /* ------Audio-Player-2----- */
  .pl2-audio__top__inner {
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid pink; */
  }
  #volume-slider-c {
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
  }
  .control-2
{
  position: relative;
  left: calc(50% - 12px);
  width: 55px;
  /* height: 200px; */
  display: flex;
  justify-content: center;
  /* border: 1px solid yellow; */
  

  /* margin-top: 70px; */
  /* margin-left: 146px; */
  transform: rotate(90deg);
  /* border: 1px solid green; */
  pointer-events: none;
  margin: 0px 10px;

}
#pl2-uploading-track-x {
  position: absolute;
  right: -180px;
  top: 40px;
  display: block;
}
#pl2-uploading-track-visibility {
  display: none;
}
  /* ------------------------- */
  /* -----Pl2-Left-Column----- */
  .add-to-playlist span {
    font-size: 9.5px;
    font-weight: 600;
  }
  .left-playlist span {
    font-size: 13px;
    color: rgb(192, 192, 192);
  }
  .left-playlist-add img {
    width: 12px;
    height: 12px;
  }
  .left-playlist-add img {
    width: 12px;
    height: 12px;
  }
  .left-playlist-name {
    font-size: 13px;
    margin: 0px 0px 0px 5px;
    width: calc(100% -5px);
  }
  /* ------------------------- */
  /* ------Tracklist-2----- */
  .pl2-track-artist-rating-span {
    font-size: 12px;
    top: 6px;
  }
  .pl2-track-artist-name-span,
  .pl2-track-artist-span,
  .pl2-track-genre-span{
    font-size: 13px;
  }
  /* ---------------------- */
  /* -----Pl2-Album-Page----- */
  #pl2-album-page-c h1 {
    font-size: 26px;
  }
  #pl2-album-page-c h2 {
    font-size: 15px;
    padding: 4px 15px 4px 15px;
  }
  #pl2-album-page-c h3 {
    font-size: 14px;
  }
  /* ------------------------ */
  /* -----Pl2-Artist-Page----- */
  #pl2-artist-page-c h1 {
    font-size: 26px;
  }
  #pl2-artist-page-c h2 {
    font-size: 15px;
    padding: 4px 15px 4px 15px;
  }
  #pl2-artist-page-c h3 {
    font-size: 14px;
  }
  /* ------------------------ */
  /* -----pl2-Search-Page----- */
  .pl2-search-column span {
    font-size: 17px;
  }
  /* ------------------------- */
  /* -----PLaylist-2----- */
  #playlist2-top {
    width: 100%;
    height: 150px;
  }
  #playlist2-top img {
    height: 150px;
    width: 150px;
  }
  #playlist2-top__info {
    height: 150px;
    margin: 0px 0px 0px 20px;
  }
  .pl2-playlist-ul__li__date {
    display: none;
  }
  /* -------------------- */

}