@media screen and (max-width: 450px){
  /* -----Audio-Player-2----- */
  #pl2-uploading-track-x {
    left: 79%;
  }
  /* ------------------------ */
  .track-art {
    display: none;
  }
  .track-art-450 {
    display: block;
    position: fixed;
    top: 39px;
    left: 75px;
    border: 1ps solid pink;
  }
  #pl2-audio__bottom {
    width: 250px;
    position: relative;
    /* pointer-events: none; */
  }
  .pl2-audio__bottom__playhead {
    width: 250px;
  }
  #pl2-playhead-input {
    width: 250px;
  }
  
  /* ------Tracklist-2----- */

  #pl2-playlist-c__top-c__rating {
    width: calc(24% - 1px);
  }
  #pl2-playlist-c__top-c__name {
    width: calc(32% - 1px);
  }
  #pl2-playlist-c__top-c__artist-name {
    width: calc(22% - 1px);
  }
  #pl2-playlist-c__top-c__album-name {
    width: calc(22% - 1px);
  }
  #pl2-playlist-c__top-c__genre-name {
    width: calc(16% - 1px);
    display: none;
  }



  .pl2-track-ul__li__rating {
    width: calc(24% - 1px);
    /* border-right: 1px solid rgb(161, 161, 161); */
  }
  .pl2-track-ul__li__name {
    width: calc(32% - 1px);
  }
  .pl2-track-ul__li__artist {
    width: calc(22% - 1px);
    border-right: 1px solid rgb(161, 161, 161);

  }
  .pl2-track-ul__li__album {
    width: calc(22% - 1px);
  }
  .pl2-track-ul__li__genre {
    width: calc(16% - 1px);
    display: none;
  }

/* ---------------------- */
/* -----Playlist-2----- */
.pl2-playlist-ul__li__rating {
  display: none;
}
#playlist2-top {
  width: calc(100% - 20px);
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 20px;
}

#playlist2-top img {
  height: 100px;
  width: 100px;
}
#playlist2-top__info {
  height: 100px;
  margin: 0px 0px 0px 20px;
}
#playlist2-top__info {
  margin-left: 5px;
}
.dnd-column h2 {
  font-size: 15px;
}
.dnd-column h3 {
  font-size: 12px;
}
.pl2-playlist-artist-name-span, .pl2-playlist-artist-span, .pl2-playlist-genre-span, .pl2-playlist-album-span, .pl2-playlist-date-span, .pl2-playlist-duration-span {
  font-size: 14px;
  left: 5px;
}
.three-dots {
  min-width: 6px;
}
.dot {
  width: 2px;
  height: 2px;
}
.playlist2-top-three-dots {
  top: 120px;
  left: 85%;
}
.playlist2-top-three-dots-delete {
  top: 130px;
  left: 85%;
}

/* /* --------------------- */
/* ------Artist-Page----- */
.pl2-artist-page-top__h1-450 {
  display: inline-block;
  background-color: transparent !important;
  padding: 0px !important;
  border-radius: 0px !important;
  margin: 0px;
  font-size: 20px !important;
  position: relative;
  left: 15px;
}
.pl2-artist-page-top__h1 {
  display: none;
}
.pl2-artist-info-c__top__h2-450 {
  display: inline-block;
  background-color: transparent !important;
  padding: 0px !important;
  margin: 0px !important;
  box-shadow: none !important;
  position: relative;
  left: 11px;
  font-size: 17px !important;
}
.pl2-artist-info-c__top__h2 {
  display: none;
}
.pl2-artist-info-c__top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* ---------------------- */
/* -----Login----- */
#instructions-modal {
  width: 90vw;
  margin: 10vh 5vw 10vh 5vw;
}
.login-instructions {
  top: 10px;
  right: 10px;
  font-size: 12px;
}
.instruction-c p{
  width: 250px;
}
.instruction-gif {
  height: 200px;
}
/* --------------- */
}