@media screen and (max-width: 850px){
  /* -------Audio-Player-One------ */
  .s-track-ul__li {
    font-size: 12px;
  }
  #s-uploading-track-c__span{
    font-size: 10px;
  }
  /* ----------------------------- */
  /* -----------Audio-Player-Two----- */
  #pl2-playlist-c__top-c__rating h2,
  #pl2-playlist-c__top-c__name h2,
  #pl2-playlist-c__top-c__artist-name h2,
  #pl2-playlist-c__top-c__album-name h2,
  #pl2-playlist-c__top-c__genre-name h2,
  #pl2-playlist-c__top-c__date h2,
  #pl2-playlist-c__top-c__artist-duration h2 {
  font-size: 15px; 
  top: 6px;
}
  .pl2-track-ul__li {
    font-size: 12px;
  }
  /* -------------------------------- */
  /* ------------Pl2-Left-Column----- */
  .selectIcon {
    display: none;
  }
  .add-to-playlist span {
    font-size: 10px;
  }
  .left-playlist-name {
    font-size: 14px;
  }
  .playlist-button-c span{
    font-size: 14px;
    margin: 0px 0px 0px 2px;
  }
  
  /* -------------------------------- */
  /* -----Tracklist-2----- */
  #pl2-uploading-track-c{
    width: 25%;
  }
  #pl2-uploading-track-c__span{
    font-size: 10px;
  }
  .pl2-track-artist-rating-span {
    font-size: 13px;
    top: 5px;
  }
  /* --------------------- */
  /* -----Pl2-Album-Page----- */
  .pl2-album-c img {
    min-width: 200px;
    height: 200px;
    margin: 0px 0px 0px 25px;
  }
  .pl2-album-info-c {
    height: 200px;
  }
  .pl2-album-info-c__scroll {
    height: 135px;
  }
  /* ------------------------ */
  /* -----Pl2-Artist-Page----- */
  .pl2-artist-c img {
    min-width: 200px;
    height: 200px;
    margin: 0px 0px 0px 25px;
  }
  /* ------------------------ */
  /* -----pl2-Search-Page----- */
  .pl2-search-column span {
    font-size: 18px;
  }
  /* ------------------------- */
  /* -----Playlist-2----- */
  .pl2-playlist-ul__li__album {
    min-width: 100px;
  }
  .pl2-playlist-ul__li__genre {
    min-width: 100px;
  }
  .pl2-playlist-ul__li__date {
    min-width: 90px;
  }
  .pl2-playlist-ul__li__rating {
    min-width: 70px;
  }
  .pl2-playlist-track-artist-rating-span {
    font-size: 12px;
    top: 5px;
  }
  /* -------------------- */
}