@media screen and (max-width: 950px) {
  /* -----Tracklist-2---- */

  /* ----------------------- */
  /* -----Pl2-Left-Column----- */
  #pl2-search {
    font-size: 15px;
  }
  #pl2-search__input {
    font-size: 15px;
  }
  #pl2-search__input::placeholder {
    font-size: 15px;
    top: -2px;
    left: 5px;
  }
  .selectIcon {
    height: 15px;
    width: 15px;
  }
  .select-artist span, .select-album span, .select-song span {
    font-size: 15px;
  }
  .left-playlist-name {
      font-size: 16px;
  }
  .playlist-button-c span{
    font-size: 16px;
    margin: 0px 0px 0px 2px;
  }
  /* ------------------------ */
  /* -----Tracklist-2----- */
  #pl2-uploading-track-c{
    width: 28%;
  }
  #pl2-uploading-track-c__span{
    font-size: 11px;
  }
  .pl2-track-artist-rating-span {
    font-size: 14px;
  }
  /* --------------------- */
  /* -----pl2-album-page----- */
  #pl2-album-page-c h1 {
    font-size: 28px;
  }
  #pl2-album-page-c h2 {
    font-size: 18px;
    padding: 5px 15px 0px 15px;
  }
  /* ------------------------ */
  /* -----pl2-artist-page----- */
  #pl2-artist-page-c h1 {
    font-size: 28px;
  }
  #pl2-artist-page-c h2 {
    font-size: 18px;
    padding: 5px 15px 0px 15px;
  }
  /* ------------------------ */
  /* -----pl2-Search-Page----- */
  .pl2-search-column span {
    font-size: 19px;
  }
  /* ------------------------- */
  /* -----Playlist-2----- */
  .pl2-playlist-ul__li__name {
    min-width: 150px;
  }
  .pl2-playlist-ul__li__rating {
    min-width: 80px;
  }
  .pl2-playlist-track-artist-rating-span {
    font-size: 13px;
    top: 5px;
  }
  .three-dots {
    min-width: 20px;
  }
  .dot {
    width: 4px;
    height: 4px;
  }

  /* -------------------- */
}