@media screen and (max-width: 650px){
  /* -------Audio-Player-One------ */
  #s-audio{
    width: 470px;
  }
  #s-playlist-c__top-c__rating h2,
  #s-playlist-c__top-c__name h2,
  #s-playlist-c__top-c__artist-name h2,
  #s-playlist-c__top-c__genre-name h2,
  #s-playlist-c__top-c__artist-duration h2 {
  font-size: 11px;
}
  .s-track-ul__li {
    font-size: 12px;
}

#s-uploading-track-c__span{
  font-size: 8px;
}
#s-playlist-c__top-c__rating h2,
#s-playlist-c__top-c__artist-name h2,
#s-playlist-c__top-c__artist-duration h2,
#s-playlist-c__top-c__genre-name h2 {
  margin-top: 3px;
}
#s-playlist-name-c h2 {
  margin-top: 6px;
}
/* -------------------------------- */
  /* --------Audio-Player-Two------ */
  .pl2-track-ul__li {
    font-size: 12px;
}

#pl2-uploading-track-c__span{
  font-size: 8px;
}
#pl2-playlist-c__top-c__rating h2,
#pl2-playlist-c__top-c__name h2,
#pl2-playlist-c__top-c__artist-name h2,
#pl2-playlist-c__top-c__album-name h2,
#pl2-playlist-c__top-c__artist-duration h2,
#pl2-playlist-c__top-c__date h2,
#pl2-playlist-c__top-c__genre-name h2 {
  font-size: 11px;
  margin-top: 3px;
}
#pl2-playlist-name-c h2 {
  margin-top: 6px;
}
  /* ------------------------------ */
  /* ------------Pl2-Left-Column----- */
  #pl2-left-column {
    width: 65px;
    height: 100vh;
    background-color: rgb(109, 109, 109);
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .select-artist, .select-album, .select-song {
    width: 55px;
    height: 30px;
    border-radius: 5px;
    margin: 0px 0px 0px 5px;
}
  .add-to-playlist {
    width: 55px;
    margin: 10px 0px 0px 5px;
  }
  /* -------------------------------- */
    /* ------Tracklist-2----- */
    .pl2-track-artist-rating-span {
      font-size: 11px;
      top: 7px;
    }
    /* ---------------------- */

}