@media screen and (max-width: 550px) {
  /* -----Audio-Player-2----- */
  #pl2-uploading-track-x {
    left: 83%;
  }
  /* ------------------------ */
  .pl2-search-column__top h1{
    font-size: 28px;
  }
  .pl2-search-column span {
    margin: 0px 0px 0px 10px;
    font-family: 'Electrolize', sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #d9d9d9;
}
  /* -----pl2-Search-Page----- */
  .pl2-search-column span {
    font-size: 16px;
  }
  /* ------------------------- */
  /* ------Tracklist-2----- */

  #pl2-playlist-c__top-c__rating {
    width: calc(16% - 1px);
  }
  #pl2-playlist-c__top-c__name {
    width: calc(32% - 1px);
  }
  #pl2-playlist-c__top-c__artist-name {
    width: calc(18% - 1px);
  }
  #pl2-playlist-c__top-c__album-name {
    width: calc(18% - 1px);
  }
  #pl2-playlist-c__top-c__genre-name {
    width: calc(16% - 1px);
  }
  #pl2-playlist-c__top-c__date {
    display: none;
  }


  .pl2-track-ul__li__rating {
    width: calc(16% - 1px);
  }
  .pl2-track-ul__li__name {
    width: calc(32% - 1px);
  }
  .pl2-track-ul__li__artist {
    width: calc(18% - 1px);
  }
  .pl2-track-ul__li__album {
    width: calc(18% - 1px);
  }
  .pl2-track-ul__li__duration {
    display: none;
  }
  .pl2-track-ul__li__genre {
    width: calc(16% - 1px);
  }
  .pl2-track-ul__li__date {
    display: none;
  }
/* ---------------------- */
  /* -----Playlist-2----- */
  #playlist2-top__info {
    margin-left: 5px;
  }
 
  .dnd-column h2 {
    font-size: 20px;
  }
  .pl2-playlist-ul__li__name {
    min-width: 120px;
  }
  .pl2-playlist-ul__li__album {
    min-width: 70px;
  }
  .pl2-playlist-ul__li__genre {
    min-width: 70px;
  }
  /* -------------------- */
  /* -----Login----- */
  #instructions-modal {
    width: 90vw;
    margin: 10vh 5vw 10vh 5vw;
  }
  #login-c__login-form{
    position: fixed;
    top: 100px;
    left: calc(50% - 150px);
  }
  .login-footer__creditBox {
    position: fixed;
    top: 485px;
    left: calc(50% - 117px);
    width: 235px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  /* --------------- */
}
