@media screen and (max-width: 350px) {
  /* -----Audio-Player-2----- */
  #pl2-uploading-track-x {
    left: 83%;
    width: 145px;
    position: fixed;
    top: 40px;
  }
  #pl2-uploading-track-x span{
    font-size: 10px;
  }
  /* ------------------------ */
  /* -----Playlist2----- */
  .playlist2-top-three-dots-delete {
    top: 130px;
    left: 81%;
  }
  .track-art-450 {
    height: 30px;
    width: 30px;
  }
  #pl2-audio__bottom {
    width: 200px;
    position: relative;
    /* pointer-events: none; */
  }
  .pl2-audio__bottom__playhead {
    width: 200px;
  }
  #pl2-playhead-input {
    width: 200px;
  }
  #pl2-uploading-track-c__span__inner {
    display: none;
  }
  .pl2-track-artist-rating-span {
    font-size: 9px;
  }
  .pl2-playlist-ul__li__genre {
    display: none;
  }
  .pl2-playlist-ul__li__name {
    min-width: 80px;
  }
  /* ------------------ */
  /* -----Artist-Page----- */
  .pl2-artist-c img{ 
    margin-left: 0px;
  }
  /* --------------------- */
  /* -----Sign-Up----- */
  .signup-pop--container {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    background-color: rgb(105, 105, 105, .95);
    border-radius: 20px;
    width: 250px;
    position: absolute;
    top: 40px;
    left: 15px;
    border: 1px solid purple;
  }
  /* ----------------- */
  /* -----Login----- */
.login-instructions {

  font-size: 10px;
}
/* --------------- */
}