@media screen and (max-width: 650px){
  /* -------Audio-Player-One------ */
  #s-audio{
    width: 470px;
  }
  #s-playlist-c__top-c__rating h2,
  #s-playlist-c__top-c__name h2,
  #s-playlist-c__top-c__artist-name h2,
  #s-playlist-c__top-c__genre-name h2,
  #s-playlist-c__top-c__artist-duration h2 {
  font-size: 11px;
}
  .s-track-ul__li {
    font-size: 12px;
}


#s-playlist-c__top-c__rating h2,
#s-playlist-c__top-c__artist-name h2,
#s-playlist-c__top-c__artist-duration h2,
#s-playlist-c__top-c__genre-name h2 {
  margin-top: 3px;
}
#s-playlist-name-c h2 {
  margin-top: 6px;
}
/* -------------------------------- */
  /* --------Audio-Player-Two------ */
  .pl2-track-ul__li {
    font-size: 12px;
}

#pl2-uploading-track-c__span{
  font-size: 8px;
}
#pl2-playlist-c__top-c__rating h2,
#pl2-playlist-c__top-c__name h2,
#pl2-playlist-c__top-c__artist-name h2,
#pl2-playlist-c__top-c__album-name h2,
#pl2-playlist-c__top-c__artist-duration h2,
#pl2-playlist-c__top-c__date h2,
#pl2-playlist-c__top-c__genre-name h2 {
  font-size: 11px;
  margin-top: 3px;
}
#pl2-playlist-name-c h2 {
  margin-top: 6px;
}
  /* ------------------------------ */
  /* ------------Pl2-Left-Column----- */
  #pl2-left-column {
    width: 65px;
    height: 100vh;
    background-color: rgb(109, 109, 109);
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .select-artist, .select-album, .select-song {
    width: 55px;
    height: 30px;
    border-radius: 5px;
    margin: 0px 0px 0px 5px;
}
  .add-to-playlist {
    width: 55px;
    margin: 10px 0px 0px 5px;
  }
  /* -------------------------------- */
    /* ------Tracklist-2----- */
    .pl2-track-artist-rating-span {
      font-size: 11px;
      top: 7px;
    }
    .pl2-track-artist-name-span,
    .pl2-track-artist-span,
    .pl2-track-genre-span{
      font-size: 12px;

    }

    #pl2-playlist-c__top-c__rating {
      width: calc(14% - 1px);
    }
    #pl2-playlist-c__top-c__name {
      width: calc(32% - 1px);
    }
    #pl2-playlist-c__top-c__artist-name {
      width: calc(15% - 1px);
    }
    #pl2-playlist-c__top-c__album-name {
      width: calc(15% - 1px);
    }
    #pl2-playlist-c__top-c__artist-duration {
      width: calc(8% - 1px);
      display: none;
    }
    #pl2-playlist-c__top-c__genre-name {
      width: calc(12% - 1px);
    }
    #pl2-playlist-c__top-c__date {
      width: 12%;
      height: 30px;
    }


    .pl2-track-ul__li__rating {
      width: calc(14% - 1px);
    }
    .pl2-track-ul__li__name {
      width: calc(32% - 1px);
    }
    .pl2-track-ul__li__artist {
      width: calc(15% - 1px);
    }
    .pl2-track-ul__li__album {
      width: calc(15% - 1px);
    }
    .pl2-track-ul__li__duration {
      width: calc(8% - 1px);
      display: none;
    }
    .pl2-track-ul__li__genre {
      width: calc(12% - 1px);
    }
    .pl2-track-ul__li__date {
      width: 12%;
    }
  /* ---------------------- */
  /* -----Pl2-Album-Page----- */
  .pl2-album-c {
    height: 350px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(157, 157, 157);
  }
  /* .pl2-album-c :nth-child(2){
    order: 1;
  } */
  .pl2-album-info-c {
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 0px 20px 0px;
 
  }
  #pl2-album-page-c h1 {
    width: 104px;
    font-size: 26px;
    position: relative;
    left: 7px;
  }
  .pl2-album-c img{
    margin: 20px 0px 20px 0px;
  }
  #pl2-album-page-c h2 {
    font-size: 18px;
    padding: 4px 15px 4px 15px;
  }
  #pl2-album-page-c h3 {
    font-size: 16px;
  }
  /* ------------------------ */
  /* -----Pl2-Artist-Page----- */
  .pl2-artist-c {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 0px 0px 0px;
    /* border: 1px solid blue; */
  }
  /* .pl2-artist-c :nth-child(2){
    order: 1;
  } */
  .pl2-artist-c img {
    min-width: 200px;
    height: 200px;
    margin: 0px 0px 30px 25px;
  }
  .pl2-artist-info-c {
    /* height: 250px; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(157, 157, 157);
  }
  #pl2-artist-page-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    min-height: 100px;
  
  }
 
  #pl2-artist-page-c h1 {
    
    font-size: 26px;
    position: relative;
    left: 15px;
    margin: 0px 0px 0px 0px;
  }
  .pl2-artist-info-c__top {
    height: 40px;
  }

  #pl2-artist-page-c h2 {
    font-size: 15px;
    padding: 9px 15px 0px 15px;
    /* margin: 0px 0px 25px 0px; */
    
  }
  .pl2-artist-info-c__scroll {
    height: auto;
    overflow-y: hidden;
    margin: 20px 0px 30px 0px;
    border-radius: 20px;
  }
  .pl2-artist-info-c__scroll__inner {
    height: auto;
  }
  #pl2-artist-page-c h3 {
    font-size: 14px;
    border-bottom: 1px solid rgb(192, 192, 192);
  }
  .pl2-artist-track-c {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #pl2-artist-c-main {
    margin-bottom: 30px;
  }
  /* ------------------------ */
  /* -----pl2-Search-Page----- */
  .pl2-search-column span {
    font-size: 16px;
  }
  /* ------------------------- */
}