#pl2-main-page {
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  /* flex-direction: column; */
  background-color: black;
  height: 100vh;
  width: 100vw;
}
#pl2-left-column {
  width: 10%;
  height: 100vh;
  background-color: rgb(109, 109, 109);
  /* border: 1px solid green; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}
#pl2-left-column__scroll-outer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: transparent;
  scrollbar-darkshadow-color: transparent;
  scrollbar-track-color: transparent;
  scrollbar-width: 0px;
  
  
}
#pl2-search{
  height: 30px;
  background-color: transparent;
  font-size: 20px;
  color: rgb(192, 192, 192);
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  margin: 0px 5% 10px 5%;
  text-align: center;
}
#pl2-left-column__scroll-inner {
  width: 100%;

}

#pl2-search__input{
  width: 100%;
  margin: 0px;
  height: 30px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: rgb(192, 192, 192);
  
}
#pl2-search__input::placeholder {
  font-size: 18px;
  color: rgb(192, 192, 192);
  position: relative;
  top: -1px;
}

.select-artist,
.select-album,
.select-song {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 5%;

}

.select-artist span,
.select-album span,
.select-song span {
  font-size: 18px;
  color: rgb(192, 192, 192);
  margin: 0px 0px 0px 10px;
  cursor: pointer;
  transition: all .3s;

}
.select-artist span:hover,
.select-album span:hover,
.select-song span:hover {
  color:  rgb(237, 149, 237);
}

.selected-artist,
.selected-album,
.selected-song {
  background-color: rgb(210, 210, 210);
  transition: background-color .3s;
}
.selected-artist span,
.selected-album span,
.selected-song  span{
  color: rgb(70, 70, 70);
  background-color: rgb(210, 210, 210);
}
.selectIcon {
  height: 20px;
  width: 20px;
  margin: 0px 0px 0px 10px;
  opacity: .7;
}
.add-to-playlist {
  width: 90%;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 5%;
  border: 1px double lightgray;
  border-radius: 5px;
  transition: all .3s;

}
.add-to-playlist span{
  font-size: 12px;
  color: rgb(192, 192, 192);
  text-align: center;
  margin: 0px 0px 0px 0px;
}
.add-to-playlist:hover {
  background-color: rgb(100, 99, 99);
  cursor: pointer;
  
  
}
.add-to-playlist--on {
  border: 1px double rgb(162, 148, 255);
  background-color: rgb(97, 97, 97);
}
.add-to-playlist--on  span{
  color:  rgb(162, 148, 255);
  font-family: 'Electrolize', sans-serif;
 
}
.left-playlist {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
}
.left-playlist span {
  font-size: 15px;
  color: rgb(192, 192, 192);
  
}
.left-playlist-add {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.left-playlist-add img {
  width: 15px;
  height: 15px;
  opacity: .8;
  transition: all .3s;
  border-radius: 100%;
  border: 1px solid rgb(176, 176, 176);
  background-color: rgb(176, 176, 176);
}
.left-playlist-add img:hover {
  /* filter: brightness(20%); */
  /* opacity: .3; */
  border: 1px solid rgb(211, 211, 211);
  background-color: rgb(211, 211, 211);

}
.left-playlist-name {
  height: 30px;
  width: 100%;
  font-size: 18px;
  color: rgb(192, 192, 192);
  margin: 0px 0px 0px 10px;
  cursor: pointer;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all .3s;
}
.left-playlist-name:hover {
  color:  rgb(237, 149, 237);
}
#left-playlist-bottom-space {
  height: 40px;
  width: 100%;
}
.hidden {
  display: none;
}
.playlist-button-c {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0px 0px 0px 5%;
}
.playlist-button-c span{
  font-size: 18px;
  color: rgb(192, 192, 192);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: pointer;
  margin: 0px 0px 0px 10px;
  transition: all .3s;
}
.playlist-button-c span:hover{

  color:  rgb(162, 148, 255);
}
.playlist-highlight {
  background-color: lightgrey;
}
.playlist-highlight span{
  color: rgb(70, 70, 70);
}
/* .playlist-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 100%;
  min-width: 14px;
  min-height: 14px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
  outline: none;
  cursor: pointer;


}
.playlist-radio:checked {
  border: 4px solid rgb(237, 149, 237);

}
.playlist-radio-label {
  position: relative;
  top: 13px;
  height: 30px;
  width: 100%;
  font-size: 15px;
  color: rgb(192, 192, 192);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: pointer;
} */