#pl2-search-position {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#pl2-search-c {
  width: 100%;
  height: 100%;
  background-color: #303030;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  position: absolute;
  z-index: 5;
}
.pl2-search-column {
  width: 30%;
  height: calc(100% - 50px);
  border: 1px solid lightgray;
  margin: 10px 0px 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}
.pl2-search-column__top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pl2-search-column__top h1{
  width: 80%;
  margin: 10% 0px 0px 10%;

  font-family: 'Source Code Pro', monospace;
  font-family: 'Goldman', cursive;
  /* font-family: 'Audiowide', cursive; */
  /* font-family: 'Syncopate', sans-serif; */
  /* font-family: 'Electrolize', sans-serif; */
  font-weight: 900;
  color: #d9d9d9;
}
.pl2-search-scroll {
  overflow-y: scroll;
}
.pl2-search-track-span-c {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.pl2-search-artist-span-c {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.pl2-search-album-span-c {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.pl2-search-column span {
  margin: 0px 0px 0px 10px;

  font-family: 'Source Code Pro', monospace;
  /* font-family: 'Goldman', cursive; */
  font-family: 'Audiowide', cursive;
  /* font-family: 'Syncopate', sans-serif; */
  font-family: 'Electrolize', sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #d9d9d9;
}
.pl2-search-scroll-bottom {
  width: 100%;
  height: 150px;
}