ul{
  padding: 0;
  outline: none;
  /* width: auto !important; */
}

#playlist2-top {
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#playlist2-top img {
  height: 200px;
  width: 200px;
}
#playlist2-top__info {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px 0px 0px 50px;
}

#dnd {
  display: flex; 
  justify-content: center;
  height: 100%;
  width: 100%;

}
.dnd-column {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  width: 100%;
  background-color: rgb(52, 52, 52);
  
}
.dnd-column h2 {
  color: white;
  font-family: 'Source Code Pro', monospace;
  /* font-family: 'Goldman', cursive; */
  font-family: 'Audiowide', cursive;
  /* font-family: 'Syncopate', sans-serif; */
  /* font-family: 'Electrolize', sans-serif; */
  font-weight: 900;
  color: #d9d9d9;
  background: rgb(232, 232, 232,.1);
  padding: 5px 15px 5px 15px;

  border-radius: 999px;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 10px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 10px 15px 5px rgba(0,0,0,0);

}
.dnd-column__content {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  
}



#dop-c {
  min-width: 100%;
}
.drag-c {
  width: 100%;
  margin: 0px 0px 12px 0px,
 
}

.pl2-playlist-ul__li {
  min-height: 60px;

  /* min-width: 100%; */
  margin: 0px 0px 15px 0px;
  color: rgb(192, 192, 192);
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Electrolize', sans-serif; 
  outline: none;
  /* overflow: hidden; */
  position: relative;
  
 
}

#pl2-playlist2-box-shadow {
  margin: 0px 0px 0px calc(50% - 402px);
  height: 60px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
 
}
.pl2-playlist-ul__li__track-art {
  height: 60px;
  width: 60px;
  
}
.pl2-playlist-ul__li__rating {
  height: 60px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  white-space: nowrap;
  overflow-x: scroll;
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.pl2-track-rating-input {
  background-color: transparent;
  width: 100px;
  height: 100%;
  font-family: 'Electrolize', sans-serif;
  font-size: 15px;
  color: rgb(192, 192, 192);
  border: none;
  outline: none;
  margin: 0px 0px 0px 0px;
  text-align: center;
  padding: 0px;
  pointer-events: all;
}
.pl2-playlist-ul__li__name {
  height: 60px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  /* overflow: hidden; */
  white-space: nowrap;
  overflow-x: scroll;
  border-right: 1px solid rgb(161, 161, 161);
}
.pl2-playlist-artist-name-span,
.pl2-playlist-artist-span,
.pl2-playlist-genre-span,
.pl2-playlist-album-span,
.pl2-playlist-date-span,
.pl2-playlist-duration-span{
  width: calc(100% -7px); 
  height: 100%;
  font-family: 'Electrolize', sans-serif;
  font-size: 18px;
  color: rgb(192, 192, 192);
  text-align: left;
  display: flex;
  align-items: center;
  position: relative;
  left: 15px;
}
.pl2-playlist-artist-name-span {
  font-size: 18px
}
.pl2-playlist-artist-span {
  font-size: 13px;
  color: rgb(167, 167, 167);
}
.pl2-playlist-date-span {
  font-size: 15px;
  position: absolute;
}
.pl2-playlist-duration-span {
  font-size: 15px;
}
.pl2-playlist-ul__li__album {
  height: 60px;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  overflow-x: scroll;
  border-right: 1px solid rgb(161, 161, 161);
}
.pl2-playlist-ul__li__duration {
  height: 60px;
  min-width: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  overflow: hidden;
  white-space: nowrap;
  overflow-x: scroll;
  border-right: 1px solid rgb(161, 161, 161);
}
.pl2-playlist-ul__li__genre {
  height: 60px;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  overflow: hidden;
  white-space: nowrap;
  overflow-x: scroll;
  border-right: 1px solid rgb(161, 161, 161);
  position: relative;
}
.pl2-playlist-ul__li__date {
  height: 60px;
  min-width: 110px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-right: 1px solid rgb(161, 161, 161);
  overflow: hidden;
  white-space: nowrap;
  overflow-x: scroll;
  position: relative;
  color:rgba(193, 175, 255, 0.1);
  color:rgba(226, 175, 255, 0.1)
}
