#signup-modal-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(215, 215, 215, 0.95);
  z-index: 4;
}
.signup-pop--container {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
  background-color: rgb(105, 105, 105, .95);
  border-radius: 20px;
  width: 250px;
  position: absolute;
  top: 40px;
  left: calc(50% - 125px);
  z-index: 5;
}
.signup-head--container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  color: rgb(205, 203, 203);
  font-family: 'Electrolize', sans-serif;
}
.signup-head--topElements {
  display: flex;
  justify-items: center;
  align-content: center;
  width: 100%;
  margin: 0px;  
}
.signup__closeButton--container {
  position: relative;
  top: 5px;
  left:160px;
  z-index: 1;
  width: 30px;
  fill: rgb(186, 186, 186);
  cursor: pointer;
}
.signup-head__text p {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 5px 0px 0px 0px;
}
.signup-form--container div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 10px;
}
.signup-form__text {
  font-size: 18px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form__text P{
  text-align: center;
  color: rgb(205, 203, 203);
  font-family: 'Electrolize', sans-serif;
  margin: 0px 0px 0px 0px;
}
.signup-form--container input {
  margin-bottom: 5px;
  color: rgb(98, 98, 98);
  font-family: 'Audiowide', cursive;
  height: 30px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  outline: none;
  background-color: rgb(196, 196, 196);
}
.signup-form__submitButton--container {
  width: 84%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 10px;
  background-color: #dbdbdb;
  cursor: pointer;
  color: rgb(93, 93, 93);
  transition: all .3s;
  position: relative;
  left: 8px;
  font-family: 'Audiowide', cursive;
}
.signup-form__submitButton--container:hover {
  background-color: #ededed;
  color: rgb(106, 106, 106);
}
.modal-hiding {
  display: none;
}
