/* #upload-modal-portal {

} */
.upload-modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgb(245, 245, 245, .4);
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px 0px 0px 0px;
}
.upload-modal {
  width: 50vw;
  height: 80vw;
  margin: 0px 0px 0px 25vw;
  background-color: rgb(245, 245, 245, .7);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#upload-modal-title {
  margin: 20px 0px 10px 0px;
  font-size: 20px;
  font-family: 'Electrolize', sans-serif;
  color: rgb(71, 71, 71);
}
#upload-modal-instructions {
  margin: 0px 20px 10px 20px;
  font-size: 15px;
  font-family: 'Electrolize', sans-serif;
  color: rgb(116, 116, 116);
}

#uploaded-image-c {
  display: flex;
  position: absolute;
}
#uploaded-image-c div {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;

  font-size: 15px;
  font-family: 'Electrolize', sans-serif;
  color: white;
  margin: 35px 0px 0px 5px;
  border-radius: 999px;
}
#uploaded-image-c div img {
  height: 20px;
  width: 20px;
}
#uploaded-image {
  height: 100px;
  width: 100px;
}
#waiting {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid white;
  background-color: black;
  margin: 0px 0px 10px 0px;
}
#loading-ripples {
  height: 100px;
  
}
#upload-modal__form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#upload-modal__form__track-artist,
#upload-modal__form__track-name,
#upload-modal__form__genre-name{
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  color: rgb(131, 131, 131);
  font-family: 'Electrolize', sans-serif;
  margin: 0px 0px 10px 0px;
}

#uploading-image-c {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 10px 0px;

}
#uploading-image-c__span {
  font-size: 22px;
  font-family: 'Electrolize', sans-serif;
  pointer-events: none;
  position: absolute;
  text-align: center;
}
#uploading-image-c__input {
  width: 100px;
  height: 100px;
  opacity: 0;
}